---
layout: default
title: Home
---

<section class="min-h-screen bg-neutral-silver flex flex-col lg:flex-row justify-center items-center gap-16 md:gap-32 lg:gap-10 xl:gap-32 2xl:gap-60 3xl:gap-96 max-md:pb-12">
    <div class="pt-32 md:pt-24">
        <p class="text-4xl md:text-6xl 3xl:text-9xl font-semibold text-green-1 leading-10 md:leading-[4.5rem] 3xl:leading-48">
            <span class="block text-neutral-grey">Lessons and insights</span>
            from 8 years
        </p>
        <p class="mt-4 3xl:mt-12 text-grey">Where to grow your business as a photographer: site or social media?</p>
        <button class="bg-green-1 py-3 3xl:py-4 px-7 3xl:px-16 cursor-pointer text-medium rounded mt-8 3xl:mt-28 text-white">
            Register
        </button>
    </div>
    <img src="{{ site.baseurl }}/assets/images/Illustration.svg" alt="" class="w-10/12 sm:w-96 lg:w-72 xl:w-96 2xl:w-4/12 lg:translate-y-14">
</section>

<section class="text-center py-16 3xl:py-32">
    <h2>Our Clients</h2>
    <p class="section-desc">We have been working with some Fortune 500+ clients</p>
    <ul class="grid grid-cols-3 md:grid-cols-7 justify-items-center items-center gap-y-5 mt-10 2xl:mt-14 3xl:mt-32">
        <li>
            <img src="{{ site.baseurl }}/assets/images/logo-6.svg" alt="logo" class="w-5 md:w-9 3xl:w-16">
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/images/logo-1.svg" alt="logo" class="w-5 md:w-9 3xl:w-16">
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/images/logo-2.svg" alt="logo" class="w-8 md:w-12 3xl:w-24">
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/images/logo-3.svg" alt="logo" class="w-7 md:w-11 3xl:w-20">
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/images/logo-4.svg" alt="logo" class="w-5 md:w-9 3xl:w-16">
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/images/logo-5.svg" alt="logo" class="w-8 md:w-12 3xl:w-24">
        </li>
        <li class="max-md:col-span-3">
            <img src="{{ site.baseurl }}/assets/images/logo-2.svg" alt="logo" class="w-8 md:w-12 3xl:w-24">
        </li>
    </ul>
</section>

<section class="text-center pb-16">
    <h2><span class="md:block">Manage your entire community</span> in a signle system</h2>
    <p class="section-desc">Who is Nextcent suitable for?</p>
    <div class="flex flex-col md:flex-row md:justify-center xl:justify-between 2xl:justify-around md:items-start md:flex-wrap my-2 max-xl:gap-8">
        {% for item in site.data.community %}
    <div class="flex flex-col items-center gap-2.5 3xl:gap-8 shadow px-6 2xl:px-8 3xl:px-12 py-8 2xl:py-10 3xl:py-16 rounded">
        <img src="{{ site.baseurl }}/assets/images/{{ item.icon_link }}" alt="" class="3xl:w-36">
        <h3 class="max-w-48 3xl:max-w-96">{{ item.title }}</h3>
        {% if item.id == 1 %}
        <p class="text-sm 3xl:text-lg max-sm:max-w-64 md:max-w-64 3xl:max-w-80 text-grey max-md:px-2 lg:px-2">{{ item.description }}</p>
        {% else %}
        <p class="text-sm 3xl:text-lg max-sm:max-w-64 md:max-w-64 3xl:max-w-80 text-grey">{{ item.description }}</p>
        {% endif %}
    </div>
    {% endfor %}
    </div>
</section>
