<nav class="fixed w-full z-50 py-7 2xl:py-12 justify-between bg-neutral-silver hidden md:flex md:items-center">
    <img src="{{ site.baseurl }}/assets/images/Logo.svg" alt="logo nexcent" class="w-20 lg:w-36 2xl:w-48 3xl:w-80">
    <ul class="flex gap-5 lg:gap-8 xl:gap-12 2xl:gap-16 3xl:gap-36 text-gray-900">
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.link }}">
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <ul class="flex gap-4 lg:gap-7 2xl:gap-12 3xl:gap-28">
        <li>
            <a href="#" class="text-green-1">Login</a>
        </li>
        <li>
            <a href="#" class="bg-green-1 text-white py-2.5 3xl:py-4 px-4.5 2xl:px-8 3xl:px-16 rounded">Sign up</a>
        </li>
    </ul>
</nav>

<div class="flex justify-between items-center md:hidden bg-neutral-silver fixed z-50 w-full px-5 sm:px-12 py-5">
    <img src="{{ site.baseurl }}/assets/images/Logo.svg" alt="logo nexcent" class="w-20">
    <button onclick="toggleMenu()" class="icon">
        <i class="fa fa-bars"></i>
    </button>
</div>

<nav id="menu" class="hidden md:hidden w-full h-full bg-neutral-silver fixed top-0 left-0 z-40">
    <ul class="flex flex-col items-center gap-5 pt-16">
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.link }}">
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <ul class="flex flex-col items-center gap-5 text-sm mt-10 px-5 sm:px-12">
        <li class="w-full border border-green-1 text-center py-2 rounded">
            <a href="#" class="text-green-1">Login</a>
        </li>
        <li class="w-full bg-green-1 text-center py-2 rounded">
            <a href="#" class=" text-white">Sign up</a>
        </li>
    </ul>
</nav>
