@import "tailwindcss";

@theme {
    --color-primary: #28CB8B;
    --color-green-1: #4CAF4F;
    --breakpoint-3xl: 120rem;
    --color-neutral-silver: #F5F7FA;
    --secondary: #263238;
    --info: #2194F3;
}
