@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

@theme {
    --color-primary: #28CB8B;
    --color-green-1: #4CAF4F;
    --color-neutral-grey: #4D4D4D;
    --color-neutral-silver: #F5F7FA;
    --color-grey: #717171;
    --breakpoint-3xl: 137.5rem;
    --secondary: #263238;
    --info: #2194F3;
}

nav, section {
    @apply px-8 sm:px-12 lg:px-20 xl:px-28 2xl:px-48 3xl:px-96;
}

h2 {
    @apply text-2xl md:text-4xl 3xl:text-6xl font-semibold text-neutral-grey;
}

h3 {
    @apply text-xl md:text-3xl 3xl:text-5xl font-semibold text-neutral-grey;
}

.section-desc {
    @apply mt-3.5 2xl:mt-4.5 3xl:mt-10 text-grey;
}
